.font-tajawal {
  font-family: 'Tajawal', sans-serif;
  /* تحسين المسافات بين السطور للعربي */
  line-height: 1.6;
  /* لجعل المتصفح يكتشف اتجاه اللغة تلقائياً (يمين أو يسار) */
  unicode-bidi: plaintext;
  text-align: center;
}
#Marsa-card {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}
