<nav
  class="fixed top-0 w-full z-[100] glass-effect border-b border-white/5 py-5 px-10 flex justify-between items-center transition-all duration-500"
>
  <div class="flex items-center gap-3">
    <div
      class="w-8 h-8 bg-shajan-maroon rounded-lg flex items-center justify-center border border-shajan-gold/20 shadow-lg shadow-shajan-maroon/20"
    >
      <span class="text-shajan-gold font-display text-xl pt-1">S</span>
    </div>
    <span class="text-white font-display text-2xl italic tracking-tighter">
      {{ brandName() }}<span class="text-shajan-gold">.</span>
    </span>
  </div>

  <div class="flex items-center gap-6">
    <button class="text-white/40 hover:text-shajan-gold transition-colors duration-300">
      <lucide-icon [name]="githubIcon" [size]="20"></lucide-icon>
    </button>
    <div class="h-4 w-px bg-white/10"></div>
    <button
      class="flex items-center gap-2 text-[10px] font-sans tracking-[0.3em] uppercase text-white/40 hover:text-white transition-all"
    >
      v2.1 Stable
    </button>
  </div>
</nav>
