<nav
  class="fixed top-6 left-1/2 -translate-x-1/2 z-[100] Marsa-glass px-6 py-3 rounded-full flex items-center gap-6 shadow-2xl transition-all duration-500 w-[90%] max-w-2xl"
>
  <button
    (click)="toggleLang.emit()"
    class="flex items-center gap-2 hover:text-Marsa-gold transition-colors font-sans text-[11px] tracking-widest uppercase outline-none cursor-pointer"
  >
    <lucide-icon [name]="langIcon" [size]="16" class="text-Marsa-gold"></lucide-icon>
    <span class="hidden sm:inline">{{ lang() === 'ar' ? 'English' : 'عربي' }}</span>
  </button>

  <div class="h-4 w-[1px] bg-Marsa-gold/20"></div>

  <div
    class="flex-1 flex justify-center text-xl font-bold gradient-Marsa tracking-[0.3em] font-sans"
  >
    {{ lang() === 'ar' ? 'مَرسىء Marsa' : 'Marsa مَرسىء' }}
  </div>

  <div class="h-4 w-[1px] bg-Marsa-gold/20"></div>

  <button
    (click)="toggleTheme.emit()"
    class="relative w-8 h-8 flex items-center justify-center rounded-full hover:bg-white/5 transition-all active:scale-90 outline-none cursor-pointer"
  >
    @if (isDark()) {
      <lucide-icon
        [name]="sunIcon"
        [size]="18"
        class="text-Marsa-gold animate-fade-in"
      ></lucide-icon>
    } @else {
      <lucide-icon
        [name]="moonIcon"
        [size]="18"
        class="text-Marsa-maroon animate-fade-in"
      ></lucide-icon>
    }
  </button>
</nav>
